.map-container{
    margin-top: 70px;
    margin-left: 15px;
}

.info-place{
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row-reverse;
}

.input-place{
    margin-right: 15px;
    max-width: 200px;
}

.btn-save{
    padding: 6px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: white;
}

.img-infowindow{
    width: 300px;
}

.coordinates{
    text-align: end;
    margin-top: 10px;
}

.coordinates-separate{
    margin-right: 10px;
}