.map-container{
    margin-top: 70px;
    margin-left: 15px;
}

.info-place{
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row-reverse;
}

.input-place{
    margin-right: 15px;
    max-width: 200px;
}