.map-container{
    margin-top: 70px;
    margin-left: 15px;
}

.info-place{
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row-reverse;
}

.input-place{
    margin-right: 15px;
    max-width: 200px;
}

.btn-save{
    padding: 6px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: white;
}

.img-infowindow{
    width: 300px;
}

.title-infowindow{
    width: 300px;
    text-align: center;
}

.coordinates{
    text-align: end;
    margin-top: 10px;
    margin-bottom: 150px;
}

.coordinates-separate{
    margin-right: 10px;
}

.pict-upload{
    height: 50px;
}

.delete-btn-place{
    background-color: red;
    margin:10px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    margin-right: 15px;
}

.date{
}