.content-about-us{
    display:flex;
    flex-direction: row;
    margin: 40px 0px 0px 80px;
    padding-top: 40px;
}

.about-us{
    max-width: 40%;
    margin-right: 50px;
}

.list-about-us{
    margin-left: 10px;
}

.title-about-us{
    margin-bottom: 25px;
}

.img-container-about-us{
    max-width: 40%;
}

.img-about-us{
    width: 700px;
}
