.container-edit{
    padding-top: 6%;
    // margin-left: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-edit{
    padding: 8px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 120px;
    background-color: white;
}

.link-edit{
    margin-top: 20px; 
}

.picture-edit{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.edit-separator{
    margin-left: 80px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.inputs-edit{
    max-width: 350px;
}

.wrap-edit-data{
    display: flex;
    flex-wrap: wrap;
}

.separator-data-edit{
    margin-right: 60px;
}

.username-edit{
    margin-top:10px;
    margin-bottom: 30px;
    text-align: center;
}

.picture-change{
    margin-bottom: 40px;
    height: 280px;
}

.input-change-picture{
    margin-left: 25px;
}
