.line1{
    color: #4AB5EB;
}

.line2{
    color: #EF6666;
}

.line3{
    color: #E2D553;
}

.line4{
    color: #60BD68;
}

.line5{
    color: #F4A440;
}

.line{
    margin-right: 100px;
}

.graphic{
    margin-top: 10px;
    margin-left: 30px;
}

.list-name{
    margin-top: 40px;
    margin-left: 50px;
    display:flex;
    flex-wrap: wrap;
}