.img-invite {
  width: 100px;
  padding-bottom: 15px;
  margin: 0px 5px;
}

.container-invite {
  margin: 40px 0px 0px 80px;
}

.input-invite {
  margin-top: 10px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-width: 0px;
  border: none;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  width: 250px;
}

.btn-invite {
  padding: 7px;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-width: 0px;
}
