.content-adapt {
  margin: 0px 0px 0px 80px; 
}

.container-profile {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  margin-bottom: 50px;
}

.profile{
  height: 120px;
  width: 120px;
  border-radius: 150px;
}

.pict-follow{
  display: flex;
  flex-direction: column;
}

.follow-btn-ok, .follow-btn-not{
  margin-top:20px;
  border-radius: 10px;
  color:white;
  font-weight: bold;
  border:none;
}

.follow-btn-ok{
  background-color: blue;
}

.follow-btn-not{
  background-color: red;
}

.data-container{
  margin-left: 50px;
}

.link-profile{
  text-decoration: none;
  color:black;
  font-size: 40px;
}

.flag, .flag-address{
  width: 40px;
}

.flag{
  margin: 0px 10px;
}

.flag-address{
  margin-right: 20px;
  margin-bottom: 10px;
}

.info-profile{
  color:#343A40;
}

.conquered-countries{
  margin-top:15px;
  margin-bottom: 15px;
}

.separator-info-profile{
  margin: 0px 15px;
}

.map-profile{
  margin: -20px 50px 100px 0px;
}

.img-level, .img-level-home{
  height: 50px;
  margin: 10px 10px 20px 15px;
  margin-top: 10px;
}

.unit-name-level{
  display: flex;
  flex-direction: row;
}

.img-level-home{
  margin-left: 30px;
  margin-top: -1px;
}

.qr-code{
  margin-top: 60px;
}

 .pict-qr{
   display: flex;
   flex-direction: row-reverse;
 }