.content-adapt {
  margin: 0px 0px 0px 80px; 
}

.container-profile {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  margin-bottom: 50px;
}

.profile{
  height: 120px;
  width: 120px;
  border-radius: 150px;
}

.data-container{
  margin-left: 50px;
}

.link-profile{
  text-decoration: none;
  color:black;
  font-size: 40px;
}

.flag, .flag-address{
  width: 40px;
}

.flag{
  margin: 0px 10px;
}

.flag-address{
  margin-right: 20px;
  margin-bottom: 10px;
}

.info-profile{
  color:#343A40;
}

.conquered-countries{
  margin-top:15px;
  margin-bottom: 15px;
}

.separator-info-profile{
  margin: 0px 15px;
}

.map-profile{
  margin-top: -40px;
}